body {
    color: #5d5d5d;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.section-header {
    margin-top: 40px;
}

#map {
  height: 500px;
}

.form-select {
    display: inline-block;
    width: 30%;
    max-width: 200px;
    margin-right: 7px;
}

#input-error {
    color: #FF0000;
}
